<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<!-- EOF CSS INCLUDE -->

<style>

.pagination-centered {

    text-align: center;

}

.disabled {

    pointer-events: none;

    opacity: 0.5;

}

.pointer-disabled {

    pointer-events: none;

}

</style>


<base th:replace="fragments/header :: header-css" />

        <script src="https://code.jquery.com/jquery-1.11.1.min.js" integrity="sha256-VAvG3sHdS5LqTT+5A/aeq/bZGa/Uj04xKxY8KM/w9EE=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script th:inline="javascript">

        /*<![CDATA[*/

        $(document).ready(function() {

    changePageAndSize();

});

function changePageAndSize() {

    $('#pageSizeSelect').change(function(evt) {

        window.location.replace("?pageSize=" + this.value + "&page=1");

    });

}

        /*]]>*/

    </script>

<script>
	function updatePriceBuffalo() {

		var snf = $("#snf").val();
		var fat = $("#fat").val();

		if ((fat != '' && fat >= 4) && (snf != '' && snf >= 6)) {
			//alert(snf + "   : " + fat);
			var incvalur = 0.48;

			fat = fat - 0.1;
			var basePrice = 19.98;

			for (var i = 5; i.toFixed(2) < fat.toFixed(2); i = i + 0.1) {
				basePrice = Number(basePrice.toFixed(2)) + incvalur;
			}

			incvalur = 0.30;

			snf = snf - 2;

			for (var i = 5; i.toFixed(2) < snf.toFixed(2); i = i + 0.1) {
				if (i > 6.4) {
					incvalur = 0.12;
				}
				basePrice = Number(basePrice.toFixed(2)) + incvalur;
			}

			var milkQuantity = $("#milkQuantity").val();

			$("#price").val(basePrice.toFixed(2));

			var price = $("#price").val();

			var totalAmount = price * milkQuantity;

			$('#totalAmount').val(totalAmount.toFixed(2));
		}

	}

	function updatePriceCow() {

		var snf = $("#snf").val();
		var fat = $("#fat").val();

		if ((fat != '' && fat >= 2) && (snf != '' && snf >= 7)) {
			//alert(snf + "   : " + fat);
			var incvalur = 0.197;

			var basePrice = 13.23;

			fat = fat - 0.1;
			for (var i = 1.9; i.toFixed(2) < fat.toFixed(2); i = i + 0.1) {
				basePrice = basePrice + incvalur;
			}

			incvalur = 0.4972;
			snf = snf - 2;
			for (var i = 5; i.toFixed(2) < snf.toFixed(2); i = i + 0.1) {
				if (i > 6.4) {
					incvalur = 0.197;
				}
				basePrice = basePrice + incvalur;
			}

		}
		var milkQuantity = $("#milkQuantity").val();

		$("#price").val(basePrice.toFixed(2));

		var price = $("#price").val();

		var totalAmount = price * milkQuantity;

		$('#totalAmount').val(totalAmount.toFixed(2));

	}

	function updatePrice() {

		var milkType = $("#milkType").val();

		if (milkType == "COW") {
			updatePriceCow();
		} else {
			updatePriceBuffalo();
		}
	}

	function updateTotalAmount() {

		var milkQuantity = $("#milkQuantity").val();

		var price = $("#price").val();

		$('#totalAmount').val(price * milkQuantity);
	}
</script>

</head>

<body>

	<div th:replace="fragments/header :: header"></div>

	<div class="container">

		<div class="page-header text-center">
			<h2>Buying Milk Entry</h2>
		</div>

		<div class="text-center">
			<h3 style="color: #FF0000" th:text="${result}"></h3>
		</div>

		<div class="row">
			<form th:action="@{save}" th:object="${entryForm}" method="post">

				<div class="col-xs-12">

					<div class=col-xs-3>
						<div class="form-group">
							<label for="id" class="control-label col-xs-3">Id :</label>
							<div class="col-xs-12">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-address-book"></i>
									</div>
									<input id="userId" th:field="*{user.userId}"
										onchange="updateNameEntryFormBuy()" type="number"
										aria-describedby="idHelpBlock" class="form-control">
									<div class="input-group-addon">
										<i class="fa fa-search"></i>
									</div>
								</div>
								<span id="idHelpBlock" class="help-block">User Id </span> <span
									class="formError" th:if="${#fields.hasErrors('user.userId')}"
									th:errors="*{user.userId}"></span>
							</div>
						</div>
					</div>
					<div class=col-xs-5>
						<div class="form-group">
							<label for="name" class="control-label col-xs-3">Name :</label>
							<div class="col-xs-12">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-address-card"></i>
									</div>
									<input th:field="*{user.name}" disabled="disabled"
										aria-describedby="nameHelpBlock" class="form-control"
										type="text"> <input type="hidden"
										th:field="*{user.name}" class="form-control input-md" />
									<div class="input-group-addon">
										<i class="fa fa-address-card"></i>
									</div>
								</div>
								<span id="nameHelpBlock" class="help-block">User Name</span>
							</div>
						</div>
					</div>
					<div class=col-xs-4>
						<div class="form-group">
							<label for="accountBalance" class="control-label col-xs-3">Balance:</label>
							<div class="col-xs-10">
								<div class="input-group">
									<div class="input-group-addon">Rs.</div>
									<input th:field="*{user.amountBalance}" name="accountBalance"
										placeholder="0.00" disabled="disabled"
										aria-describedby="accountBalanceHelpBlock"
										class="form-control" type="text">
									<div class="input-group-addon">/-</div>
								</div>
								<span id="accountBalanceHelpBlock" class="help-block">Total
									Account Balance in Rupees (INR)</span>
							</div>
						</div>
					</div>
				</div>


				<div class="col-xs-12">
					<label class="control-label col-xs-3">.</label>
				</div>

				<div class="col-xs-12">
					<label class="control-label col-xs-3">.</label>
				</div>



				<div class="col-xs-12">

					<div class=col-xs-5>

						<div class="form-group">
							<label for="milkType" class="control-label col-xs-3">Milk
								:</label>
							<div class="col-xs-7">
								<select th:field="*{milkType}" onchange="updatePrice()"
									class="select form-control"
									aria-describedby="milkTypeHelpBlock">
									<option value="COW">Cow</option>
									<option value="BUFFALO">Buffalo</option>
								</select> <span id="milkTypeHelpBlock" class="help-block">Please
									select Cow or Buffalo</span>
							</div>
						</div>

						<div class="form-group">
							<label for="milkQuantity" class="control-label col-xs-3">Liter
								:</label>
							<div class="col-xs-7">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-archive"></i>
									</div>
									<input oninput="updatePrice()" th:field="*{milkQuantity}"
										placeholder="0.00" aria-describedby="milkQuantityHelpBlock"
										class="form-control" required="required" type="text">
									<div class="input-group-addon">
										<i class="fa fa-archive"></i>
									</div>
								</div>
								<span id="milkQuantityHelpBlock" class="help-block">Please
									enter quantity of milk Liter</span>
							</div>
						</div>
						<div class="form-group">
							<label for="fat" class="control-label col-xs-3">FAT :</label>
							<div class="col-xs-7">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-qq"></i>
									</div>
									<input oninput="updatePrice()" th:field="*{fat}"
										placeholder="0.0" class="form-control"
										aria-describedby="fatHelpBlock" type="text">
									<div class="input-group-addon">
										<i class="fa fa-qq"></i>
									</div>
								</div>
								<span id="fatHelpBlock" class="help-block">Please enter
									FAT</span>
							</div>
						</div>
						<div class="form-group">
							<label for="snf" class="control-label col-xs-3">SNF :</label>
							<div class="col-xs-7">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-skype"></i>
									</div>
									<input oninput="updatePrice()" th:field="*{snf}"
										placeholder="0.0" class="form-control"
										aria-describedby="snfHelpBlock" type="text">
									<div class="input-group-addon">
										<i class="fa fa-skype"></i>
									</div>
								</div>
								<span id="snfHelpBlock" class="help-block">Please enter
									SNF</span>
							</div>
						</div>

						<div class="form-group">
							<label for="price" class="control-label col-xs-3">Price/L
								:</label>
							<div class="col-xs-7">
								<div class="input-group">
									<div class="input-group-addon">Rs.</div>
									<input id="price" oninput="updateTotalAmount()" name="price"
										th:field="*{perLiterPrice}" placeholder="0.00"
										aria-describedby="priceHelpBlock" required="required"
										class="form-control" type="text">
									<div class="input-group-addon">/-</div>
								</div>
								<span id="priceHelpBlock" class="help-block">Please enter
									Rs. Per/Liter</span>
							</div>
						</div>
						<div class="form-group">
							<label for="totalAmount" class="control-label col-xs-3">Total
								Amount:</label>
							<div class="col-xs-7">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-money"></i>
									</div>
									<input th:field="*{totalAmount}" placeholder="0.00"
										class="form-control" aria-describedby="totalAmountHelpBlock"
										type="text">
									<div class="input-group-addon">
										<i class="fa fa-money"></i>
									</div>
								</div>
								<span id="totalAmountHelpBlock" class="help-block">Total
									amount in Rs. to be paid</span>
							</div>
						</div>
						<div class="col-xs-12">
							<label class="control-label col-xs-3">.</label>
						</div>
						<div class="col-xs-12">
							<label class="control-label col-xs-3">.</label>
						</div>


						<div class="form-group row">
							<div class="col-xs-offset-3 col-xs-7">
								<button name="submit" type="submit"
									class="btn btn-success btn-block">
									<strong>Save Buy Entry</strong>
								</button>
							</div>
						</div>

					</div>

					<div class="col-xs-1"></div>

					<div class=col-xs-5>

						<div class="form-group">
							<label for="entryDateTime" class="control-label col-xs-3">Entry
								Date :</label>
							<div class="col-xs-9">
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
									<input th:field="*{entryDateTime}"
										placeholder="dd/mm/yyyy HH:MM"
										aria-describedby="entryDateTimeHelpBlock" class="form-control"
										type="text">
									<div class="input-group-addon">
										<i class="fa fa-calendar"></i>
									</div>
								</div>
								<span id="entryDateTimeHelpBlock" class="help-block">Change
									date for old entry only</span>
							</div>
						</div>

						<div class="form-group">
							<label for="dayType" class="control-label col-xs-3">Day :</label>
							<div class="col-xs-9">
								<select th:field="*{dayType}" class="select form-control"
									aria-describedby="dayTypeHelpBlock">
									<option value="MORNING">Morning</option>
									<option value="EVENING">Evening</option>
								</select> <span id="dayTypeHelpBlock" class="help-block">Select
									day for old entry only</span>
							</div>
						</div>

						<div class="form-group">
							<label for="summary" class="control-label col-xs-3">Summary
								:</label>
							<div class="col-xs-9">
								<textarea id="summary" name="summary" cols="40" rows="3"
									class="form-control" aria-describedby="summaryHelpBlock"></textarea>
								<span id="summaryHelpBlock" class="help-block">If any
									summary please write here.</span>
							</div>
						</div>

					</div>
				</div>

			</form>

		</div>

		<div></div>


		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>User Id</th>
						<th>User Name</th>
						<th>Date Time</th>
						<th>Day</th>
						<th>Milk</th>
						<th>Liter</th>
						<th>FAT</th>
						<th>SNF</th>
						<th>Price/L</th>
						<th>Total</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="entry : ${entryForms}" style="cursor: pointer">
						<td th:text="${entry.user.userId}"></td>
						<td th:text="${entry.user.name}"></td>
						<td th:text="${#temporals.day(entry.entryDateTime)} +' '+ ${#temporals.monthNameShort(entry.entryDateTime)} +' '+ ${#temporals.year(entry.entryDateTime)} +' ('+${#temporals.dayOfWeekNameShort(entry.entryDateTime)}+') ('+${#temporals.hour(entry.entryDateTime)}+':'+${#temporals.minute(entry.entryDateTime)}+')'"></td>
						<td th:text="${entry.dayType}"></td>
						<td th:text="${entry.milkType}"></td>
						<td th:text="${entry.milkQuantity}"></td>
						<td th:text="${entry.fat}"></td>
						<td th:text="${entry.snf}"></td>
						<td th:text="${entry.perLiterPrice}"></td>
						<td th:text="${entry.totalAmount}"></td>

						<td>
							<button
								th:onclick="'javascript:rowClickedPayNow(\'' + ${user.userId} + '\');'"
								type="button" class="btn btn-success btn-xs btn-block">
								<span class="glyphicon glyphicon-ok"></span> Pay Now
							</button>
						</td>
						<td><a th:href="@{'#editUserModal' + ${user.userId}}"
							class="edit" data-toggle="modal"><i class="material-icons"
								data-toggle="tooltip" title="Edit">&#xE254;</i></a> <a
							th:href="@{'#deleteUserModal' + ${user.userId}}" class="delete"
							data-toggle="modal"><i class="material-icons"
								data-toggle="tooltip" title="Delete">&#xE872;</i></a></td>
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="form-group col-md-1">

					<select class="form-control pagination" id="pageSizeSelect">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>

					</select>

				</div>

				<div th:if="${entryForms.totalPages != 1}"
					class="form-group col-md-11 pagination-centered">

					<ul class="pagination">

						<li th:class="${entryForms.number == 0} ? disabled"><a
							class="pageLink"
							th:href="@{''(pageSize=${selectedPageSize}, page=1)}">«</a></li>

						<li th:class="${entryForms.number == 0} ? disabled"><a
							class="pageLink"
							th:href="@{''(pageSize=${selectedPageSize}, page=${entryForms.number})}">←</a>

						</li>

						<li
							th:class="${entryForms.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">

							<a class="pageLink"
							th:href="@{''(pageSize=${selectedPageSize}, page=${page})}"
							th:text="${page}"></a>

						</li>

						<li
							th:class="${entryForms.number + 1 == entryForms.totalPages} ? disabled">

							<a class="pageLink"
							th:href="@{''(pageSize=${selectedPageSize}, page=${entryForms.number + 2})}">→</a>

						</li>

						<li
							th:class="${entryForms.number + 1 == entryForms.totalPages} ? disabled">

							<a class="pageLink"
							th:href="@{''(pageSize=${selectedPageSize}, page=${entryForms.totalPages})}">»</a>

						</li>

					</ul>

				</div>

			</div>

		</div>
	</div>

</body>
</html>