<!DOCTYPE html>
<html xmlns:th=“http://www.thymeleaf.org”>

<head>
<title>Transactions Details</title>
<base th:replace="fragments/header :: header-css" />	
</head>

<body>
<div th:replace="fragments/header :: header"> </div>

<div class="container-fluid">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-3">
            <h2 class="text-center pull-left" style="padding-left: 30px;"> <span class="glyphicon glyphicon-list-alt"> </span> Details </h2>
          </div>
          <div class="text-center">
			<h2 style="color: #FF0000" th:text="${result}"></h2>
		</div>
         </div>
        
       
     <div class="row">
          
        <form id="paymentHistory" th:action="@{paymentHistory}" method="post">
 
           <div class="col-xs-9 col-sm-9 col-md-2">
            <label> Search by User Id</label>
            <input name="userId" type="number" placeholder="user Id" class="form-control input-md" ></input>
          </div>
          
          <div class="col-xs-9 col-sm-9 col-md-2">
             <label> Search by Start Date</label>
            <input name="transactionStartDate"  id="startdate" placeholder="dd/mm/yyyy" class="form-control input-md" ></input>
          </div>
          
           <div class="col-xs-9 col-sm-9 col-md-2">
            <label> Search by End Date</label>
            <input name="transactionEndDate"  id="enddate" placeholder="dd/mm/yyyy" class="form-control input-md" ></input>
          </div>
          
           <div class="col-xs-9 col-sm-9 col-md-2">
            <label> Search by Payment Type</label>
             <select name="paymentType" class="form-control input-md" >
                  <option value="">--</option>
                  <option value="CREDIT">Credit</option>
                  <option value="DEBIT">Debit</option>
             </select> 	
          </div>
          
          <div class="col-xs-9 col-sm-9 col-md-2">
           <label> Search by Day Type</label>
             <select name="dayType" class="form-control input-md" >
                  <option value="">--</option>
                  <option value="EVENING">Evening</option>
                  <option value="MORNING">Morning</option>
             </select> 
          </div>
          
          <div class="col-xs-9 col-sm-10 col-md-2">
           <label>Submit</label>
              <div class="input-group-btn">
                <button  type="submit" class="btn btn-md btn-warning"> <span class=" glyphicon glyphicon-search"></span></button>
              </div>
          </div>
        </form> 
      </div> 
      
        <div class="row">
       
         <div class="col-xs-9 col-sm-9 col-md-2">
            <label>Transactions :</label>
             <strong>  <span th:text="${numberOfTransactions}"> </span></strong>
        </div>
        
        <div class="col-xs-9 col-sm-9 col-md-2">
            <label>Total Credit :      </label>
            <strong>    <span th:text="${totalCredit}"> </span> </strong> 
        </div>
        
         <div class="col-xs-9 col-sm-9 col-md-2">
            <label>Total Debit :</label>
             <strong>   <span th:text="${totalDebit}"> </span> </strong> 
        </div>
        
        
         <div class="col-xs-9 col-sm-9 col-md-2">
            <label>Remaining Amount :</label>
            <strong>   <span th:text="${remainingAmount}"> </span> </strong> 
        </div>
       
       </div>
      
      
    </div>

      <div class="panel-body table-responsive">
        <table class="table table-hover">
                      
                      <thead>
                            <tr>
                                <th>User Id</th>
                                <th>User Name</th>
                                <th>Transaction Date</th>
                                <th>Day</th>
                                <th>Payment By</th>
                                <th>Payment Type</th>
                                <th>Payment Summary</th>
                                <th>Amount</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="transaction: ${ledgers}">
                                <td th:text="${transaction.user.userId}"></td>
                                <td th:text="${transaction.user.name}"></td>
                                <td th:text="${#temporals.day(transaction.transactionDate)} +' '+ ${#temporals.monthNameShort(transaction.transactionDate)} +' '+ ${#temporals.year(transaction.transactionDate)} +' ('+${#temporals.dayOfWeekNameShort(transaction.transactionDate)}+')'"></td>
                                <td th:text="${transaction.dayType}"></td>
                                <td th:text="${transaction.paymentBy}"></td>
                                <td th:text="${transaction.paymentType}"></td>
                                <td th:text="${transaction.paymentSummary}"></td> 
                                <td th:text="${transaction.amount}"></td>
                             </tr> 
                        </tbody>
        </table>
      </div>

      <div class="panel-footer">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-md-8">
              </div>
              <div class="col-md-4">
              <p class="muted pull-right"><strong> © 2018 All rights reserved </strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

