<html xmlns:th=“http://www.thymeleaf.org”>


<head>


<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

 <script>
  $( function() {
    $( "#date" ).datepicker({ dateFormat: 'dd-mm-yy 00:00' });
  } );
  
  $( function() {
	    $( "#fromDate" ).datepicker({ dateFormat: 'dd-mm-yy 00:00' });
	  } );
  $( function() {
	    $( "#toDate" ).datepicker({ dateFormat: 'dd-mm-yy 00:00' });
	  } );
  
  
  function updateName() {
        var userId = $("#userId").val();
		location.href = "/paymentForm/user/" + userId;
   }
 </script>
	
</head>

<body>

<div class="container">
 <h3 style="color: #FF0000" th:text="${result}"></h3>
	<div class="row">
	   
	   
	     <div class="col-sm-10"> 
            <form th:action="@{${userId}}" method="post">
            
                <div class="col-sm-3"> 
                    <label class="col-sm-9">From Date:</label>
                    <div class="input-group">
				      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				      <input id="fromDate" th:value="${fromDate}"class="form-control" name="fromDate" placeholder="From Date">
				    </div>
				 </div>
				 
				<div class="col-sm-3"> 
				    <label class="col-sm-9">To Date:</label>
                    <div class="input-group">
				      <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				      <input id="toDate" th:value="${toDate}" class="form-control" name="toDate" placeholder="To Date">
				    </div>
				 </div>
				 
				 <div class="col-sm-2">
				 <label class="col-sm-12"> <br></label> 
				  <button type="submit"  class="btn btn-primary btn-md"><i class="glyphicon glyphicon-search"></i> Search</button>
				 </div>
				 
				 <div class="col-sm-2"> 
                    <div> 
                    <label class="col-sm-9"><br></label>
                      <button type="submit" value="true" name="fromLastPaid" class="btn btn-primary btn-md"><i class="glyphicon glyphicon-search"> </i> From Last Paid</button>
				    </div>
				 </div> 
			 
			</form>
        </div>   
      
       
        <div class="col-sm-12"> 
          <br>
        </div>  
        
        <div class="col-sm-12"> 
            <legend th:text="${ledger.user.name}"></legend>
        </div>  
      <h4>Last <span th:text="${numberOfDays}"></span> Days Transactions</h4>
        <div class="col-sm-7">
            
            <div class="row">
                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table class="table preview-table">
                            <thead>
                                <tr>
                                    <th>Date                                                         </th>
                                    <th>Day</th>
                                    <th>Type</th>
                                    <th>Liter</th>
                                    <th>Rate</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
	                           <tr th:each="entryForm: ${ledger.user.entryForms}">
	                                <td th:text="${#temporals.day(entryForm.entryDateTime)} +' '+ ${#temporals.monthNameShort(entryForm.entryDateTime)} +' '+ ${#temporals.year(entryForm.entryDateTime)} +' ('+${#temporals.dayOfWeekNameShort(entryForm.entryDateTime)}+')'"></td>
	                                <td th:text="${entryForm.dayType}"></td>
	                                <td th:text="${entryForm.milkType}"></td>
	                                <td th:text="${entryForm.milkQuantity}"></td>
	                                <td th:text="${entryForm.perLiterPrice}"></td>
	                                <td th:text="${entryForm.totalAmount}"></td>
                               </tr> 
                           </tbody> 
                        </table>
                    </div>                            
                </div>
            </div>
            <div class="row text-left">
                <div class="col-xs-12">
                    <h4>Total: <strong><span th:text="${ledger.amount}"></span></strong></h4>
                </div>
            </div>
             <div class="row text-left">
                <div class="col-xs-12">
                    <h4>User Balance: <strong><span th:text="${ledger.user.amountBalance}"></span></strong></h4>
                </div>
            </div>
            
            <div class="row">
                <form th:action="@{/transactionReport/paymentHistory}" method="post">
                <div class="col-xs-12">
                    <hr style="border:1px dashed #dddddd;">
                    <input type="hidden" th:value="${ledger.user.userId}" name="userId">
                    <input type="hidden" th:value="${fromDate}" name="transactionStartDate">
                    <input type="hidden" th:value="${toDate}" name="transactionEndDate">
                    <button type="submit" class="btn btn-primary btn-block">Show More Details</button>
                </div>  
                </form>              
            </div>
        </div>
        
          <!-- panel preview -->
        <div class="col-sm-5">
            <h4>Pay Now :</h4>
            <div class="panel panel-default">
               
               <form th:action="@{paymentReceipt}" th:object="${ledger}" method="post">
                   
                  <div class="panel-body form-horizontal payment-form">
                      
                    <div class="form-group">
                        <label for="concept" class="col-sm-3 control-label">Id</label>
                        <div class="col-sm-9">
                           <input id="userId" oninput="updateName()" type="number"
						     th:field="*{user.userId}" class="form-control" /> <span
						     class="help-block">Enter UserId For Change User</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="concept" class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" th:value="${ledger.user.name}" class="form-control" disabled="disabled">
                            <input type="hidden" th:field="*{user.name}" class="form-control">
                        </div> 
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-sm-3 control-label">Payment Summary</label>
                        <div class="col-sm-9">
                            <input type="text" th:field="*{paymentSummary}" class="form-control" >
                        </div>
                    </div> 
                    <div class="form-group">
                        <label for="amount" class="col-sm-3 control-label">Amount</label>
                        <div class="col-sm-9">
                            <input type="number" th:field="*{amount}" class="form-control" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" th:field="*{paymentBy}"  class="col-sm-3 control-label">Payment By</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="status" name="status">
                                <option>Cash</option>
                                <option>Milk</option>
                                <option>Paytm</option>
                                <option>Tez</option>
                                <option>NetBanking</option>
                                <option>Check</option>
                                <option>Bitcoin</option>
                            </select>
                        </div>
                    </div> 
                   
                    <div class="form-group">
                        <label for="date" class="col-sm-3 control-label">Date Time</label>
                        <div class="col-sm-9">
                            <input th:field="*{transactionDate}" class="form-control" id="date">
                        </div>
                    </div>   
                    
                    <div class="row">
		                <div class="col-xs-12">
		                    <hr style="border:1px dashed #dddddd;">
		                    <button type="submit" class="btn btn-success btn-lg btn-block">
		                    <span class="glyphicon glyphicon-ok"></span>  Pay Now
		                    </button>
		                </div>                
                   </div>
                </div>
                
                </form>
            </div>            
        </div> <!-- / panel preview -->
        
    </div>
</div>




</body>

</html>






