<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>

<base th:replace="fragments/header :: header-css" />

<style>
.pagination-centered {

    text-align: center;

}
.disabled {

    pointer-events: none;

    opacity: 0.5;
}
.pointer-disabled {

    pointer-events: none;
}
</style>

<script>

   $(document).ready(function() {
	 changePageAndSize();
	});
   
   
   function changePageAndSize() {

       $('#pageSizeSelect').change(function(evt) {
          window.location.replace("?pageSize=" + this.value + "&page=1");
        });
     }

function updatePriceSell() { 
	
	  var milkQuantity = $("#milkQuantity").val();
	  var price = $("#price").val();
	 
    var totalAmount = price * milkQuantity ;
			
	  $('#totalAmount').val(totalAmount.toFixed(2));

} 
</script>

</head>

<body>
   
      <div th:replace="fragments/header :: header"> </div>
   
 <div class="container">  
      
     <div class="page-header text-center">
        <h2>Selling Milk Entry</h2>
    </div>
   
    <div class="text-center">
		<h2 style="color: #FF0000" th:text="${result}"></h2>
    </div>
  
  <div class="row">
     <form th:action="@{save}" th:object="${entryForm}" method="post">
    
      <div class="col-xs-12">
              
             <div class=col-xs-3> 
              <div class="form-group">
			    <label for="id" class="control-label col-xs-3">Id :</label> 
			    <div class="col-xs-12">
			      <div class="input-group">
			        <div class="input-group-addon">
			          <i class="fa fa-address-book"></i>
			        </div> 
			        <input id="userId" th:field="*{user.userId}" onchange="updateNameEntryFormSell()" type="number" aria-describedby="idHelpBlock" required="required" class="form-control"> 
			        <div class="input-group-addon">
			          <i class="fa fa-search"></i>
			        </div>
			      </div> 
			      <span id="idHelpBlock" class="help-block">User Id </span>
			    </div>
			  </div>
              </div>
             <div class=col-xs-5> 
			  <div class="form-group">
			    <label for="name" class="control-label col-xs-3">Name :</label> 
			    <div class="col-xs-12">
			      <div class="input-group">
			        <div class="input-group-addon">
			          <i class="fa fa-address-card"></i>
			        </div> 
			        <input id="name" name="name"  th:field="*{user.name}" disabled="disabled" aria-describedby="nameHelpBlock" class="form-control" type="text">
			        <input type="hidden" id="name"  th:field="*{user.name}" class="form-control input-md" />
			        <div class="input-group-addon">
			          <i class="fa fa-address-card"></i>
			        </div>
			      </div> 
			      <span id="nameHelpBlock" class="help-block">User Name</span>
			    </div>
			  </div>
            </div>
            <div class=col-xs-4> 
			  <div class="form-group">
			    <label for="accountBalance" class="control-label col-xs-3">Balance:</label> 
			    <div class="col-xs-10">
			      <div class="input-group">
			        <div class="input-group-addon">Rs.</div>
			        <input id="accountBalance" th:field="*{user.amountBalance}" name="accountBalance" placeholder="0.00" disabled="disabled" aria-describedby="accountBalanceHelpBlock" class="form-control" type="text">
			        <div class="input-group-addon">/-</div>
			      </div> 
			      <span id="accountBalanceHelpBlock" class="help-block">Total Account Balance in Rupees (INR)</span>
			    </div>
			  </div> 
			  </div>
   </div>
  
 
   <div class="col-xs-12"> 
     <label class="control-label col-xs-3" >.</label> 
   </div>
   
   <div class="col-xs-12"> 
      <label class="control-label col-xs-3" >.</label> 
   </div>
  
   <div class="col-xs-12"> 
      
       <div class=col-xs-5>
              
            <div class="form-group">
             <label for="milkType" class="control-label col-xs-3">Milk :</label> 
		      <div class="col-xs-7">
		       <select th:field="*{milkType}" class="select form-control" aria-describedby="milkTypeHelpBlock">
		        <option value="COW">Cow</option>
		        <option value="BUFFALO">Buffalo</option>
		       </select> 
		      <span id="milkTypeHelpBlock" class="help-block">Please select Cow or Buffalo</span>
		   </div>
            </div> 
              
             <div class="form-group">
			    <label for="milkQuantity"  class="control-label col-xs-3">Liter :</label> 
			    <div class="col-xs-7">
			      <div class="input-group">
			        <div class="input-group-addon">
			          <i class="fa fa-archive"></i>
			        </div> 
			        <input th:field="*{milkQuantity}" oninput="updatePriceSell()" onchange="updatePriceSell()"  placeholder="0.00" aria-describedby="milkQuantityHelpBlock" class="form-control" required="required" type="text"> 
			        <div class="input-group-addon">
			          <i class="fa fa-archive"></i>
			        </div>
			      </div> 
			      <span id="milkQuantityHelpBlock" class="help-block">Please enter quantity of milk Liter</span>
			    </div>
			 </div>
				  <div class="form-group">
			    <label for="price" class="control-label col-xs-3">Price/L :</label> 
			    <div class="col-xs-7">
			      <div class="input-group">
			        <div class="input-group-addon">Rs.</div> 
			        <input id="price" name="price" oninput="updatePriceSell()" onchange="updatePriceSell()" th:field="*{perLiterPrice}" placeholder="0.00" aria-describedby="priceHelpBlock" required="required" class="form-control" type="text"> 
			        <div class="input-group-addon">/-</div>
			      </div> 
			      <span id="priceHelpBlock" class="help-block">Please enter Rs. Per/Liter</span>
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="totalAmount" class="control-label col-xs-3">Total Amount:</label> 
			    <div class="col-xs-7">
			      <div class="input-group">
			        <div class="input-group-addon">
			          <i class="fa fa-money"></i>
			        </div> 
			        <input th:field="*{totalAmount}" placeholder="0.00" class="form-control" aria-describedby="totalAmountHelpBlock" type="text"> 
			        <div class="input-group-addon">
			          <i class="fa fa-money"></i>
			        </div>
			      </div> 
			      <span id="totalAmountHelpBlock" class="help-block">Total amount in Rs. to be paid</span>
			    </div>
			  </div> 
			   <div class="col-xs-12"> 
                 <label class="control-label col-xs-3" >.</label> 
               </div>
 
			  <div class="form-group row">
			    <div class="col-xs-offset-3 col-xs-7">
			      <button name="submit" type="submit" class="btn btn-danger btn-block"><strong>Save Sell Entry</strong> </button>
			    </div>
			  </div>
			  
			  	<div class="col-xs-12">
		                 <label class="control-label col-xs-3">.</label>
	            </div>
  
  </div>
   
  <div class="col-xs-1"> </div>
  
  <div class=col-xs-5> 
  
  <div class="form-group">
    <label for="entryDateTime" class="control-label col-xs-3">Entry Date :</label> 
    <div class="col-xs-9">
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div> 
        <input th:field="*{entryDateTime}" placeholder="dd/mm/yyyy HH:MM" aria-describedby="entryDateTimeHelpBlock" class="form-control" type="text"> 
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
      </div> 
      <span id="entryDateTimeHelpBlock" class="help-block">Change date for old entry only</span>
    </div>
  </div>
  
  <div class="form-group">
    <label for="dayType" class="control-label col-xs-3">Day :</label> 
    <div class="col-xs-9">
      <select th:field="*{dayType}" class="select form-control" aria-describedby="dayTypeHelpBlock">
        <option value="MORNING">Morning</option>
        <option value="EVENING">Evening</option>
      </select> 
      <span id="dayTypeHelpBlock" class="help-block">Select day for old entry only</span>
    </div>
  </div>

  <div class="form-group">
    <label for="summary" class="control-label col-xs-3">Summary :</label> 
    <div class="col-xs-9">
      <textarea id="summary" name="summary" cols="40" rows="3" class="form-control" aria-describedby="summaryHelpBlock"></textarea> 
      <span id="summaryHelpBlock" class="help-block">If any summary please write here.</span>
    </div>
  </div> 
  
    </div>
  </div>
  
 </form>
 
</div> 

<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>User Id</th>
						<th>User Name</th>
						<th>Date Time</th>
						<th>Day</th>
						<th>Milk</th>
						<th>Liter</th>
						<th>Price/L</th>
						<th>Total</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="entry : ${entryForms}" style="cursor: pointer">
						<td th:text="${entry.user.userId}"></td>
						<td th:text="${entry.user.name}"></td>
						<td th:text="${#temporals.day(entry.entryDateTime)} +' '+ ${#temporals.monthNameShort(entry.entryDateTime)} +' '+ ${#temporals.year(entry.entryDateTime)} +' ('+${#temporals.dayOfWeekNameShort(entry.entryDateTime)}+') ('+${#temporals.hour(entry.entryDateTime)}+':'+${#temporals.minute(entry.entryDateTime)}+')'"></td>
						<td th:text="${entry.dayType}"></td>
						<td th:text="${entry.milkType}"></td>
						<td th:text="${entry.milkQuantity}"></td>
						<td th:text="${entry.perLiterPrice}"></td>
						<td th:text="${entry.totalAmount}"></td>

						<td>
							<button
								th:onclick="'javascript:rowClickedPayNow(\'' + ${user.userId} + '\');'"
								type="button" class="btn btn-success btn-xs btn-block">
								<span class="glyphicon glyphicon-ok"></span> Pay Now
							</button>
						</td>
						<td><a th:href="@{'#editEntryModal' + ${user.userId}}"
							class="edit" data-toggle="modal"><i class="material-icons"
								data-toggle="tooltip" title="Edit">&#xE254;</i></a> <a
							th:href="@{'#deleteEntryModal' + ${entry.Id}}" class="delete"
							data-toggle="modal"><i class="material-icons"
								data-toggle="tooltip" title="Delete">&#xE872;</i></a>
					    </td>
					     <td>
					     <!-- Delete Modal HTML -->
                        <div th:id="@{'deleteEntryModal' + ${entry.Id}}" class="modal fade">
	                         <div class="modal-dialog">
		                       <div class="modal-content">
			                    <form th:action="@{/entryForm/user/sell/deleteEntry}" th:method="delete">
				                  <div class="modal-header">
				                  <input type="hidden" name="id" th:value="${entry.Id}">
				                  <input type="hidden" name="userId" th:value="${entry.user.userId}">
				                <h4 class="modal-title">Delete User</h4>
					             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				                 </div>
				                <div class="modal-body">					
					            <p>Are you sure you want to delete these Records?</p>
					           <p class="text-warning"><small>This action cannot be undone.</small></p>
				                 </div>
				                 <div class="modal-footer">
					              <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
					           <input type="submit" class="btn btn-danger" value="Delete">
				                  </div>
				              </form>
			                 </div>
			                </div>
                         </div>
					    
					    </td>
					    
					</tr>
				</tbody>
			</table>
			<div class="row">
				<div class="form-group col-md-1">

					<select class="form-control pagination" id="pageSizeSelect">
						<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
							th:value="${pageSize}"
							th:selected="${pageSize} == ${selectedPageSize}"></option>

					</select>

				</div>

				<div th:if="${entryForms.totalPages != 1}"
					class="form-group col-md-11 pagination-centered">

					<ul class="pagination">

						<li th:class="${entryForms.number == 0} ? disabled"><a
							class="pageLink"
							th:href="@{''(pageSize=${selectedPageSize}, page=1)}">«</a></li>

						<li th:class="${entryForms.number == 0} ? disabled"><a
							class="pageLink"
							th:href="@{''(pageSize=${selectedPageSize}, page=${entryForms.number})}">←</a>

						</li>

						<li
							th:class="${entryForms.number == (page - 1)} ? 'active pointer-disabled'"
							th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">

							<a class="pageLink"
							th:href="@{''(pageSize=${selectedPageSize}, page=${page})}"
							th:text="${page}"></a>

						</li>

						<li
							th:class="${entryForms.number + 1 == entryForms.totalPages} ? disabled">

							<a class="pageLink"
							th:href="@{''(pageSize=${selectedPageSize}, page=${entryForms.number + 2})}">→</a>

						</li>

						<li
							th:class="${entryForms.number + 1 == entryForms.totalPages} ? disabled">

							<a class="pageLink"
							th:href="@{''(pageSize=${selectedPageSize}, page=${entryForms.totalPages})}">»</a>

						</li>

					</ul>

				</div>

			</div>

		</div>
   
</div>  

</body>
</html>